/**************FONTS*******************/
body{
    font-family:'Trebuchet MS', sans-serif !important;
    /*font-family:'Georgia', serif !important;*/
}
.font-size{
    font-size:18px;
}
.font-size .close-button{
    font-size:18px; 
}
/**************SPLASH SCREEN*******************/
.modal-header > h1{
    font-weight: bold;
}
.modal-header{
    background:white;
}
.modal-dialog{
    padding-left:0 !important;
    padding-right:0 !important;
}
.modal-content{
    margin:0;
    --bs-gutter-x:0;
    min-height: 100vh;
}
/*tour selection*/
.tour{
    padding: 15px 0px;
    border-top: 2px lightgray dotted;
}
.tour-img > img{
    width:100%;
}
.tour-title{
    font-weight:bold;
}
.tour-button{
    display: block;
    width: auto;
    box-shadow:none;
    border: 2px black solid;
    padding:10px;
    font-weight:bold;
}
.tour-desc{
    margin-top:20px;
}
/**************IMAGE ZOOM*******************/
.img-zoom{
    position:fixed;
    top:0;
    left:0;
    width:100vw !important;
    height:100vh !important;
}
.return-zoom{
    position:fixed;
    top:20px;
    left:20px;
    z-index:10000;
    border: 2px solid black;
    font-size:16px;
    font-weight:bold;
}
.story-block > img:hover{
    cursor:pointer;
}
/**************ACCESSIBILITY********************/
/*text size*/
.text-size{
    width:50px !important;
    height:35px !important;
    line-height:20px;
    display:inline-block;
    position:relative;
    vertical-align:bottom; /*ensures buttons are aligned with the bottom of the div*/
    border:black 1px solid;
}
#text-size{
    margin-top:20px;
    margin-bottom:10px;
}
#text-size > p{
    display:inline;
    font-weight:bold;
}
.light .text-active, .dark .text-active{
    background:lightgray !important;
}
/*color mode switch*/
#color-mode{
    border: 2px solid;
    width:200px;
    height:50px;
    margin:25px 0px;
}
.light #color-mode{
    border-color:black;
}
.dark #color-mode{
    border-color:white;
}
#color-mode button{
    border:none !important;
    width:94px;
    height:46px;
}
.light #light-mode{
    background:lightgray !important;
}
.dark #dark-mode{
    background:lightgray !important;
}
/*dark mode*/
.dark{
    background:black !important;
    color:white !important;
}
.dark button{
    background:black !important;
    color:white !important;
    border: 2px solid white !important;
}
.dark button:hover{
    background:darkgray !important;
}
/*light mode*/
.light button{
    background:white !important;
    color:black !important;
    border: 2px solid black !important;
}
.light button:hover{
    background:lightgray !important;
}
/**************NAVIGATION BAR********************/
.navbar{
    height:55px;
    padding-top:0;
    border-bottom:2px dotted gray;
}
.navbar-brand{
    color:black;
    font-size:28px !important;
    margin-top:0;
}
.title{
    font-weight:bold;
    margin-top:10px;
}
.about{
    font-size:20px !important;
    text-align:right;
    flex-direction: none;
    margin-bottom:0;
}
.about:hover{
    cursor:pointer;
    color:lightgray;
}
/***************MAP********************/
#map{
    height:calc(100vh - 55px);
    width:100vw;
}
.leaflet-popup-content-wrapper{
    font-family:'Trebuchet MS', sans-serif !important;
    width:auto;
}
.leaflet-bottom{
    padding-left:calc(50% - 70px);
}
.location-control-container{
    width: 140px;
    height: 50px;
    font-family:'Trebuchet MS', sans-serif !important;
    font-weight:bold;
    border: 2px solid lightgray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: white;
    padding:5px 10px;
    font-size:16px;
    z-index:100000;
    text-align:center;  
    padding-top:10px;
}
.location-control-container:hover{
    background-color: #f4f4f4;
    cursor:pointer;
}
/*route labels*/
.route-popup > div{
    font-size:18px;
}
/**************MODAL STYLING********************/
.modal-dialog{
    width: 100vw;
    max-width: none;
    margin:0 !important;
}
.modal-content{
    padding:20px;
    border-radius:0;
    border:0;
}
.modal-footer{
    background:white;
}
.modal-dialog{
    pointer-events: auto;
}
/*close button*/
.close-button:hover{
    cursor:pointer !important;
}
.close-x{
    border:none !important;
}
/**************STORY STYLING********************/
#story-title > h1{
    font-size:calc(1.5  75rem + 1.5vw) !important;
    font-weight:bold;
}
.story-block{
    margin-bottom:10%;
}
.story-block > img {
    width:100%;
}
/*responsive story content*/
@media screen and (min-width: 1200px) {
    .story-block, #story-title{
        margin-left:20%;
        width:60% !important;
    }
    .story-block-flex{
        display:flex;
    }
    .block-left{
        flex: 0 0 auto;
        width: 50% !important;
    }
    .block-right{
        flex: 0 0 auto;
        margin-left:50%;
        width: 50% !important;
    }
    .block-right-inline{
        flex: 0 0 auto;
        width: 50% !important;
    }
    
}
@media screen and (min-width: 720px) and (max-width: 1199px) {
    .story-block, #story-title{
        margin-left: 16.66666667%;
        width: 66.66666667% !important;
    }
    .story-block-flex{
        display:flex;
    }
    .block-left{
        flex: 0 0 auto;
        width: 50% !important;
    }
    .block-right{
        flex: 0 0 auto;
        margin-left:50%;
        width: 50% !important;
    }
    .block-right-inline{
        flex: 0 0 auto;
        width: 50% !important;
    }
}
@media screen and (min-width: 540px) and (max-width: 719px) {
    .story-block, #story-title{
        margin-left: 8.33333333%;
        width: 83.333333333% !important;
    }
    .story-block-flex{
        display:flex;
    }
    .block-left{
        flex: 0 0 auto;
        width: 50% !important;
    }
    .block-right{
        flex: 0 0 auto;
        margin-left:50%;
        width: 50% !important;
    }
    .block-right-inline{
        flex: 0 0 auto;
        width: 50% !important;
    }
}
@media screen and (max-width: 539px) {
    .story-block, #story-title{
        width: 100% !important;
    }
    .block-left{
        width: 100% !important;
    }
    .block-right{
        width: 100% !important;
    }
    .block-right-inline{
        width: 100% !important;
    }
}
