/*/////////////////////////////////////////////////MAPPING TEEJOP/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//This code was written in the Summer of 2022, in a place known to the Ho-Chunk people as Teejop (four lakes).                                                                                  //
//The Ho-Chunk were forced to cede Teejop by an 1832 treaty as Euro-Ameircan settlers founded a city called Madison, Wisconsin.                                                                 //
//Over the following decades, the federal and state governments attemped an unsuccessful ethnic cleansing campaign against the Ho-Chunk, who struggled for decades to remain in their homelands.//
//This code was written by Gareth Baldrica-Franklin, a settler living in Teejop.                                                                                                                //
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/**************FONTS*******************/
@font-face {
    font-family: karma;
    src: url(fonts/Karma-Regular.woff);
}
@font-face {
    font-family: karma;
    src: url(fonts/Karma-Bold.woff);
    font-weight:bold;
}
html,body{
    height:100%;
}

body{
    font-family:karma !important;
    /*font-family:'Georgia', serif !important;*/
}

.font-size{
    font-size:20px;
}
.font-size .close-button{
    font-size:20px; 
}
/**************HOME PAGE***********************/
.home-title{
    margin-top:20px;
}
.resource-list > a{
    margin-bottom:10px;
    display:block;
}
.resource-list{
    padding-left:0 !important;
}
.resource{
    margin-bottom:15px;
}
.resource-header{
    font-weight: bold;
}
.resource-img{
    width:50%;
    float:left;
}
.resource-img-row{
    padding:0;
}
.interstitial-vert > img{
    width:100px;
    padding-top:20px;
    margin:auto;
}
.interstitial > img{
    width:180px;
    padding-top:20px;
    margin:auto;
}
/**************HOME PAGE*******************/
.modal-header > h1{
    font-weight: bold;
    font-size:42px;
    margin-bottom: 0;
}
.modal-header{
    padding: 1rem 1rem 0.5rem 1rem !important;
}
.modal-dialog{
    padding-left:0 !important;
    padding-right:0 !important;
}
.modal-content{
    margin:0;
    --bs-gutter-x:0;
    min-height: 100vh;
}
/*how to section*/
#how-to-use > img{
    width:150px;
}
/*tour selection*/
.tour-desc{
    margin-bottom:20px;
}
.tour{
    padding: 15px 0px;
    /*border-top: 2px lightgray dotted;*/
}
.tour-img > img{
    width:100%;
}
.tour-button{
    display: block;
    width: auto;
    box-shadow:none;
    border: 2px black solid;
    font-weight:bold;
    padding:10px;
}
.tour-button > a{
    color:black;
    text-decoration: none;
    padding:10px;
}
.translation{
    color:gray;
    font-size:18px;
}
.tour-graphic{
    width:80px;
    margin:auto;
    text-align:center;
    padding-top:15px;
}
.tour-graphic-vert{
    width:50px;
    margin:auto;
    text-align:center;
    padding-top:15px;
}
.rotate{
    rotate:90deg;
}
.flip{
    transform: scale(-1, 1);
}
.flip-vert{
    transform: scale(1, -1);
}
/*tour text*/
.read-more-text{
    display:none;
}
.read-more-button{
    margin-bottom:15px;
    display:block;
}
.read-more-button:hover{
    cursor:pointer;
}
/*logo*/
.uw{
    width:200px;
    margin:auto;
    text-align:center;
    display:block;
}
/**************IMAGE ZOOM*******************/
.img-zoom{
    position:fixed;
    top:0;
    left:0;
    width:100vw !important;
    height:100vh !important;
}
.return-zoom{
    position:fixed;
    top:20px;
    left:20px;
    z-index:10000;
    border: 2px solid black;
    font-size:16px;
    font-weight:bold;
}
.story-block > img:hover{
    cursor:pointer;
}
/**************PRONUNCIATION*************/
.pronounce, .pronounce-demo{
    text-decoration: underline;
}
.pronounce:hover, .pronounce-demo:hover{
    cursor:pointer;
    color:darkgray;
}
.play{
    position:absolute;
    z-index:1000000000;
    width:30px;
    height:30px;
}
.credit{
    margin-top:15px;
}
/**************ACCESSIBILITY********************/
/*text size*/
.text-size{
    width:50px !important;
    height:40px !important;
    display:inline-block;
    position:relative;
    vertical-align:bottom; /*ensures buttons are aligned with the bottom of the div*/
    border:black 1px solid;
}
#text-size{
    margin-top:20px;
    margin-bottom:10px;
}
#text-size > p, #color-mode > p{
    display:inline;
    font-weight:bold;
}
/*color mode switch*/
#color-mode{
    margin:25px 0px;
}
#color-mode button{
    border: 2px solid;    
    height:50px;
    width:100px;
    padding:0;
}
.light #color-mode{
    border-color:black;
}
.dark #color-mode{
    border-color:white;
}
.light #light-mode, .light .text-active{
    background:lightgray !important;
}
.dark #dark-mode, .dark .text-active{
    background:darkgray !important;
}
/*dark mode*/
.dark .navbar, .dark #footer, body.dark, .dark #story-header, .dark #story-modal-footer{
    background:#0c2719;
    color:white;
}
.dark .container, .dark .modal-header, .dark #story-content{
    background:black;
    color:white;
}
.dark #about, .dark #tours, .dark #intro{
    border-bottom: 50px #0c2719 solid;
}
.dark button{
    background:black !important;
    color:white !important;
    border: 2px solid white !important;
}
.dark button:hover{
    background:lightgray !important;
}
.dark .navbar-nav, .dark .stop, .dark .stop:hover{
    background:#000000;
}
.dark button > a, .dark p > a, .dark h1 > a{
    color:white !important;
}
.dark #footer a, .dark #resources a{
    color:white;
    font-style:italic;
}
.dark button:hover{
    background:darkgray !important;
}
.dark .navbar-nav, .dark .stops{
    background: #0c2719 !important;
}
.dark .leaflet-popup-content-wrapper, .dark .leaflet-popup-tip, .dark .location-control-container
{
    background:black;
    color:white;
}
.dark .nav-collapse:hover{
    background:black;
}
.dark .leaflet-control-zoom > *{
    background:black !important;
    color:white;
}
/*light mode*/
.light .navbar, .light #footer, body.light, .light #story-modal-footer,  .light #story-header{
    background:#f2f5ef;
}
.light .container, .light .modal-header{
    background:white;
}
.light #about, .light #tours, .light #intro{
    border-bottom: 50px #f2f5ef solid;
}
.light button{
    background:#f2f5ef !important;
    color:black !important;
    border: 2px solid black !important;
}
.light button:hover{
    background:lightgray !important;
}
.light .navbar-nav, .light .stops{
    background:#f2f5ef;
}
/**************NAVIGATION BAR********************/
.navbar{
    height:75px;
    padding-top:0;
    border-bottom:2px dotted gray;
    z-index: 1500;
}
.navbar-brand{
    color:black;
    font-size:28px !important;
    margin-top:0;
}
#navbarNav{
    z-index: 1000;
}
.title{
    font-weight:bold;
    margin-top:15px;
    font-size:42px;
}
.title > a:hover, .title:hover{
    cursor:pointer;
    color:darkgray;
}

.nav-item > p{
    font-size:20px !important;
    text-align:right;
    flex-direction: none;
    margin-bottom:0;
    margin-top:10px;
    margin-right:10px;
}
.nav-item > p > a:hover, .nav-item > p:hover{
    cursor:pointer;
    color:lightgray;  
}
.nav-item > p > a, .title > a{
    color:black;
    text-decoration: none;
}

/***************FOOTER********************/
#footer{
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
    border-top:2px dotted gray;
}
.support{
    text-align:left;
    margin-top:25px;
    font-style:italic;
}
/***************MAP********************/
#map{
    height:calc(100% - 70px);
    width:100vw;
}
.leaflet-popup-content-wrapper{
    font-family:karma !important;
    width:auto;
}
.leaflet-popup-content{
    margin: 15px 24px 10px 20px !important;
}
.leaflet-bottom{
    padding-left:calc(50% - 70px);
}

.nav-collapse{
    font-weight:bold;
    font-size:50px;
    z-index:100000;
    text-align:center;  
    padding-right: 15px !important;
    padding-left: 15px !important;
    border-left:2px black solid;
}
.nav-collapse:hover{
    cursor: pointer;
    background:lightgray;    
}
.location-control-container{
    font-family:karma !important;
    font-weight:bold;
    border: 2px solid lightgray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: white;
    padding:5px;
    font-size:16px;
    z-index:100000;
    text-align:center;  
    position:absolute;
    bottom:15px;
    padding:15px;
    padding-bottom:10px;
}
.location-control-container:hover, .stop:hover{
    background-color: #f4f4f4;
    cursor:pointer;
}
.location-control-container p{
    margin:0;
}
/*popup*/
.close-popup{
    color:gray;
    margin:0 !important;
    text-align:center;
    padding-top:10px;
    font-size:18px;
}
/*rotate control*/
.leaflet-control-rotate-toggle{
    display:none !important;
}
/*scale bar*/
.leaflet-control-scale{
    margin-bottom:15px !important;
    margin-right:15px !important;
}
.leaflet-control-scale-line{
    font-family:karma !important;
    font-size:14px;
}
/*north arrow*/
.north-arrow{
    margin-bottom:5px !important;
    margin-right:15px !important;
    background: rgba(255, 255, 255, 0.5);
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}
.north-arrow > p{
    font-family:karma;
    font-size:16px;
    margin-bottom:0;
    color:#333;;
}
/*route labels*/
.route-popup > div{
    font-size:18px;
}
/*stop button*/
.stop{
    position:absolute;
    top:10px;
    right:10px;
    font-family:karma !important;
    font-weight:bold;
    border: 2px solid lightgray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: white;
    padding:5px;
    font-size:16px;
    z-index:1000;
    text-align:center;  
    position:absolute;
    padding:7px;
    padding-bottom:4px;
}

/**************MODAL STYLING********************/
.modal{
    z-index:2000;
}
.modal-dialog{
    width: 100vw;
    max-width: none;
    margin:0 !important;
}
.modal-content{
    padding:20px;
    border-radius:0;
    border:0;
}
.modal-footer{
    background:white;
}
.modal-dialog{
    pointer-events: auto;
}
/*close button*/
.close-button:hover{
    cursor:pointer !important;
}
.close-x{
    border:none !important;
    top: 20px;
    position: absolute;
    right: 20px;
}
/**************STORY STYLING********************/
#story-title-container > h1{
    font-size:calc(1.75rem + 1.5vw) !important;
    font-weight:bold;
}
.story-block{
    margin-bottom:10px;
}
.story-block > .sources{
    margin-bottom:5px;
}
.story-block > img {
    width:100%;
}
.caption, .caption > a{
    font-size:12px;
    margin-bottom:0;
    color:darkgray;
}
.img-block > img{
    width:100%;
}
#story-modal-footer{
    justify-content: space-between;
}
.deactivate-button{
    color:gray !important;
    background:lightgray;
    pointer-events: none;
}
/*audio controls*/
.story-audio{
    margin-top:10px;
}
#story-audio-controls{
    position:absolute;
    top:0;
    z-index:1000000;
}
/*responsive story content*/
@media screen and (min-width: 1200px) {
    .story-block, #story-title-container{
        margin-left:20%;
        width:60% !important;
    }
    .story-block-flex{
        display:flex;
    }
    .block-left{
        flex: 0 0 auto;
        width: 50% !important;
    }
    .block-right{
        flex: 0 0 auto;
        margin-left:50%;
        width: 50% !important;
    }
    .block-right-inline{
        flex: 0 0 auto;
        width: 50% !important;
        padding-left:15px;
    }
    /*navigation bar*/
    .navbar-nav{
        flex-direction: row !important;
        visibility:visible !important;
    }
    .nav-collapse{
        display:none;
    }    
    .stops{
        left: 0;
        top: 0;
    }
}
@media screen and (min-width: 720px) and (max-width: 1199px) {
    .story-block, #story-title-container{
        margin-left: 16.66666667%;
        width: 66.66666667% !important;
    }
    .story-block-flex{
        display:flex;
    }
    .block-left{
        flex: 0 0 auto;
        width: 50% !important;
    }
    .block-right{
        flex: 0 0 auto;
        margin-left:50%;
        width: 50% !important;
    }
    .block-right-inline{
        flex: 0 0 auto;
        width: 50% !important;
        padding-left:15px;
    }
    /*navigation bar*/
    .navbar-nav{
        flex-direction: row !important;
        visibility:visible !important;
    }
    .nav-collapse{
        display:none;
    } 
    .stops{
        left: 0;
        top: 0;
    }
}
@media screen and (min-width: 540px) and (max-width: 719px) {
    .story-block, #story-title-container{
        margin-left: 8.33333333%;
        width: 83.333333333% !important;
    }
    .story-block-flex{
        display:flex;
    }
    .block-left{
        flex: 0 0 auto;
        width: 50% !important;
    }
    .block-right{
        flex: 0 0 auto;
        margin-left:50%;
        width: 50% !important;
    }
    .block-right-inline{
        flex: 0 0 auto;
        width: 50% !important;
    }
    /*navigation bar*/
    .navbar-nav{
        flex-direction: row !important;
        visibility:visible !important;
    }
    .nav-collapse{
        display:none;
    } 
    .stops{
        left: 0;
        top: 0;
    }
}
@media screen and (max-width: 539px) {
    .title{
        font-size:36px;
    }
    .story-block, #story-title-container{
        width: 100% !important;
    }
    .story-block > img {
        margin-bottom: 25px;
    }
    .block-left{
        width: 100% !important;
    }
    .block-right{
        width: 100% !important;
    }
    .block-right-inline{
        width: 100% !important;
    }
    .tour-desc{
        margin-top:20px;
    }
    /*navigation bar*/
    .navbar-nav{
        position: absolute;
        visibility: hidden;
        left: 0;
        z-index:100000;
        width:100%;
        top: 75px;
    }
    .nav-collapse{
        position:absolute;
        top:0;
        right:0;
        margin:0 !important;
        z-index: 1000;
    }
    .menu-collapse{
        display:block;
    }
    .nav-item{
        width:100%;
    }
    .nav-item > p{
        text-align:left !important;
        margin:0;
        padding:10px;
    }
    .stops, .list-stop{
        width:100%;
    }
    /*location control*/
    .location-control-container{
        margin:0 !important;
    }
}
